/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/thank/login.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
/* login.css */
.Frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
    /* 배경색 추가 */
}

.Frame p {
    font-size: 24px;
    color: #333;
    text-align: center;
    padding: 20px;
    /* 내부 여백 추가 */
    border-radius: 8px;
    /* 테두리를 둥글게 만듦 */
    background-color: #fff;
    /* 텍스트 영역의 배경색 지정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 추가 */
}
