body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.survey-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.survey-form h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.survey-form p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.survey-form form {
    width: 100%;
    max-width: 400px;
}

.survey-form .form-group {
    margin-bottom: 20px;
}

.survey-form label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.survey-form input[type="number"],
.survey-form input[type="text"],
.survey-form select,
.survey-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.survey-form textarea {
    resize: vertical;
    min-height: 100px;
}

.survey-form button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10rem;
}

.survey-form button:hover {
    background-color: #0056b3;
}

.product-description {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow-wrap: break-word;
}

.survey-form .divider {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}